<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConectaBanco" connectionString ="Dsn=MySql_DNS_32;database=my2;description=CrudClientes;option=0;port=0;server=localhost;uid=root"
         providername="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>